/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font:normal 62.5% sans-serif;
    width:80%;
    margin:50px auto;
    font-family: Helvetica_Thin, Helvetica, sans-serif;
}
html {
	background:#efefef;
	cursor:default;
	color: #555;
}
h1, h2, h3, p.intro {
    text-rendering: optimizeLegibility;
}
a {
    text-decoration:none;
}
header {
    margin-bottom: 5px;
}

header h1{
    margin: 0;
    text-align:right;
    margin-right:1em;
	font-size: 4em;
	font-family: Helvetica_Thin, Helvetica, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

#content {
    border-top:2px solid #a00;
    border-bottom:2px solid #a00;
}

#content .centered {
    text-align: center;
    margin: 4em auto;
    font-size: 5em;
}

#content .centered a {
    color: #000;
    text-decoration: none;

    border-bottom: 1px solid rgba(100, 100, 100, 0);
    transition: border 500ms ease;
}

#content .centered a:hover {
    border-bottom-color: rgba(100, 100, 100, 1);
}

#resume {
    margin: 200px auto;
    text-align: center;
}
#resume a {
    padding: 5em 7em;
    /* Button gradient */
    border: 1px solid #600;
    background-color: #a00;
    background: -webkit-gradient(radial,center center, 0, center center, 460, from(#a00), to(#900));
    background: -webkit-radial-gradient(circle, #a00, #900);
    background: -moz-radial-gradient(circle, #a00, #900);
    background: -ms-radial-gradient(circle, #a00, #900);

    /* Button rounded corners */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#resume img {
    width: 7em;
    height: 7em;
    margin-right: 8em;
}

#resume span {
    font-size: 2.75em;
    color: #FFFFFF;
    position: relative;
    top: 0.3em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 650px) {
    #resume {
        margin: 100px auto;
        font-size: .8em;
    }
    #resume a {
        padding: 50px 40px;
    }
}

@media only screen and (max-width: 500px) {
    header h1 {
        font-size: 3.5em;
        text-align: center;
    }

    #resume a {
        padding: 50px 20px;
    }
    #resume img {
        margin-right: 2em;
    }
}
/*
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

    body {
        margin:50px auto;
    }
    header h1 {
        margin: 0;
        text-align:center;
        font-size: 3.5em;
    }
    #content .centered {
        text-align: center;
        margin: 2em auto;
        font-size: 5em;
    }
    #resume {
        margin: 100px auto;
        font-size: .8em;
    }
    #resume a {
        padding: 50px 20px;
    }
    #resume img {
        margin-right: 2em;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {

    body {
        margin: 10px auto 20px;
    }
    header h1 {
        margin: 0;
        text-align:right;
        font-size: 2em;
    }
    #resume {
        margin: 40px auto;
        font-size: .5em;
    }
    #resume a {
        padding: 25px 30px;
    }
    #resume img {
        margin-right: 3em;
    }

} */


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
