vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Oct 2009 00:06:58 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|portfolio.htm
vti_author:SR|DiegoSolano-PC\\Diego Solano
vti_modifiedby:SR|DiegoSolano-PC\\Diego Solano
vti_timecreated:TR|19 Oct 2009 20:04:36 -0000
vti_nexttolasttimemodified:TW|20 Oct 2009 00:06:45 -0000
vti_cacheddtm:TX|20 Oct 2009 00:06:58 -0000
vti_filesize:IR|2728
vti_cachedlinkinfo:VX|S|loader.gif
vti_cachedsvcrellinks:VX|NSUS|css/loader.gif
vti_syncwith_diegosolano.com\:80:TW|20 Oct 2009 00:06:58 -0000
vti_syncwith_localhost\\d\:\\documents\\web sites\\solano basses new/d\:/documents/web sites/solano basses new:TW|20 Oct 2009 00:06:58 -0000
