vti_encoding:SR|utf8-nl
vti_author:SR|DiegoSolano-PC\\Diego Solano
vti_modifiedby:SR|DiegoSolano-PC\\Diego Solano
vti_timelastmodified:TR|31 Oct 2009 09:04:50 -0000
vti_timecreated:TR|19 Oct 2009 01:30:08 -0000
vti_title:SR|Untitled 1
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|index.htm contact.htm 404.htm portfolio.htm
vti_nexttolasttimemodified:TW|29 Oct 2009 04:48:56 -0000
vti_syncwith_diegosolano.com\:80:TR|31 Oct 2009 09:04:50 -0000
vti_cacheddtm:TX|31 Oct 2009 09:04:50 -0000
vti_filesize:IR|3396
